langchain
langchain-core
langchain-community
langchain-experimental
langchain_google_genai
langgraph
annotated-types
cachetools
certifi
charset-normalizer
click
filelock
Flask
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-cloud-language
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
huggingface-hub
idna
itsdangerous
Jinja2
joblib
langdetect
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
uritemplate
urllib3
Werkzeug
wheel
youtube-transcript-api
google-cloud-secret-manager
pytube
moviepy
ipykernel
opencv-python
pandas
plotly
nbformat
langchain-google-vertexai
langchain_openai